source_up

# Claude Code Telegrammer
export CCT_AGENT_ID="scitex-storage"
# no bot yet: export CCT_BOT_TOKEN="$CCT_BOT_TOKEN_SCITEX_STORAGE"
export CCT_ALLOWED_USERS="8379369979"

# SciTeX Todo
export SCITEX_TODO_AGENT_ID="scitex-storage"
